<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .wrapper {
    min-height: 100vh;
    color: antiquewhite;
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    background-color: transparent;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }

  .container {
    background-color: antiquewhite;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 1em;
    max-width: 900px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f5fafa;
    box-shadow: 0px 17px 34px -20px #f2f8f8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .add-color-button {
    color: #c21775;
    display: block;
    border: none;
    margin: 0 auto;
  }

  .label {
    color: rgb(131, 77, 6);
    font-size: 1rem;
    margin-bottom: 0.8em;
  }

  .text {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }

  .title {
    margin-bottom: 0.9em;
  }

  .subtitle {
    color: rgb(238, 20, 20);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 700;
  }

  .container {
    max-width: 900px;
    overflow: hidden;
    padding: 0;
  }

  .content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 3em;
    margin-bottom: 1.8em;
  }

  .mail {
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  .text {
    font-size: 1rem;
    color: rgb(50, 9, 90);
    width: 90%;
    text-align: center;
    margin-top: 0.5em;
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<section class="wrapper">

  <div class="container">

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      width="30"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <span style="color:blue">{{ title }} app started!</span>
  </div>

  <!-- Resources -->
  <h2 class="subtitle">Welcome</h2>

  <label for="name" class="label">Name: </label>
  <input type="text" class="mail" placeholder="Your name" id="name" required />

  <label for="email" class="label">Email: </label>
  <input type="text" class="mail" placeholder="Your email address" id="mail" required />

  <button class="add-color-button">Subscribe</button>

  <p class="text">We won’t send you spam.</p>
  <p class="text">Unsubscribe at any time.</p>
  
</div>
</div>
</section>